html,body { margin: 0; padding: 0;border: none; font-size: 15px; height: 100%; overflow: hidden; }
body { position: relative; overflow: auto; height: 100%;  font-family: 'Montserrat', sans-serif; }

.sub-title {
    margin-top: 100px;
}

.code-result {
	background-color: #eee;
	padding: 10px 0;
}

@font-face {
    font-family: "Montserrat";
    src: url( "/vendor/fonts/Montserrat-ExtraLight.ttf" ) format( "truetype" );
}
@font-face {
    font-family: "Vazir";
    src: url( "/vendor/fonts/Vazir-Light.ttf" ) format( "truetype" );
}

