.loading {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #c80000;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite; /* Safari */
    animation: spin 0.5s linear infinite;
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    margin: auto;
    text-align: center;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
